[submodule "plugins/obsidian-agent-client"]
	path = plugins/obsidian-agent-client
	url = git@github.com:commotum/obsidian-agent-client.git
	branch = eve-master
[submodule "plugins/obsidian-quiz-blocks"]
	path = plugins/obsidian-quiz-blocks
	url = git@github.com:commotum/obsidian-quiz-blocks.git
	branch = master
